.gameOver {
    background-image: url(https://media.giphy.com/media/4KnvpOUjzOOB2/giphy.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
